    /*font-family: 'Playfair Display', serif;

    font-family: 'Lato', sans-serif;*/



html{
    width: 100%;
}

body{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}



/*--------------------------- Bloc 1 ---------------------------*/


header{
    width: 100%;
    margin: 0;
    padding: 0;
}


img{
    display: block;

}


.suv{
    width: 100%;
}


.maintitle{
    color:white;
    font-family: 'Playfair Display', serif;
    font-weight:bold;
    font-size: 40px;
    font-stretch:;
}


.newwhite{
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 30px;

}




/*------------------------ Bloc 2 Visionnaire -----------------------*/

#visionnaire{
    display: flex;
    width: 100%;

}


article{
    width: 50%;
}


#visionnaire img{
    width: 50%;
}

/*------------------------- Bloc 3 Technique ------------------------*/


#technique{
    width: 100%;
    display: flex;
}


#technique img{
    width: 50%;
}


#technique article{
    width: 50%;
}


/*-------------------------- Bloc 4 Emotion ------------------------*/

#emotion{
    width: 100%;
    display: flex;
}


#emotion article{
    width: 50%;
}


div img{
    display: block;
}


.carre{
    width: 25%;
}


/*------------------------- Bloc 5 Formulaire -----------------------*/



#formulaire{
    position: static;
    width: 100%;
    float: left;
}

.imgfond{
    width: 100%;
}

.suvfond{
    width: 100%;
}
.text{
     position: ;
}



.form{
   position: ; 
}


div.mc-field-group input{
    border: 1px solid white;
    border-radius: 0px;
    box-shadow: 0;
    
}

input.button{
    border: 1px solid black;
    border-radius: 0px;
    color: white;
    background-color: black;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}


/*------------------------- Bloc 6 footer ------------------------*/
#footer{
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
}


.footer{
    width: 100%;
    background-color: black;
}


ul{
    list-style: none;
}


.titlewhite{
    color: white;
    font-family: 'Playfair Display', serif;
}


.latowhite{
    color: white;
    font-family: 'Lato', sans-serif;
}


.social{
    display: flex;
}



img.social{
    display: block;
    flex-direction: row;
}

