
                   /*------ Responsive -------*/


@media screen and (max-width: 1200px) {

    #demander{
        left: 50%;
        transform: translate(-50%);
        width: 30%;
}


    
@media screen and (max-width: 640px) {

    
/* Header */
    
    .maintitle{
        font-size: 6.6vw;
}

    .playwhite{
        font-size: 5.2vw;
}

    
    
/* Bloc visionnaire */
    
    #visionnaire{
        display: flex;
        flex-direction: column;
}

    #visionnaire article{
        width: 100%;
}
 
        
    #visionnaire h2{
        margin: 25px 40px 0px 40px;
}

    #visionnaire h3{
        margin: 5px 40px 0px 40px;
}

    #visionnaire article p{
        margin: 40px;
}
    
    #visionnaire article p.lato2{
        margin: 20px 40px 20px 40px;
        font-size: 2.6vw;
        line-height: 20px;
}
   
    .first-row-img{
        width: 100%;
}
    
    
    .playfairtitle{
        font-size: 3.2vw;
}

    .smalltitle{
        font-size: 2.2vw;
}

    .lato{
        font-size: 2.6vw;
        line-height: 20px;
}
    
    
    
/* Bloc technique */    
    
    #technique{
        display: flex;
        flex-direction: column-reverse;
}

    
    .imgtech{
        width: 100%;
}
  
    #technique article{
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
}
    
  
    #technique p, hr{
        margin-left: 40px;
        margin-right: 40px;
}


    .articletech p, span.donnees{
        padding-left: 15px;
}
    
    
/* Bloc emotion */    
    
    #emotion{
        display: flex;
        flex-direction: column;
}

    #emotion article{
        width: 100%;
}
    
    #emotion h2{
        margin: 25px 40px 0px 40px;
}

    #emotion h3{
        margin: 5px 40px 0px 40px;
}

    #emotion article p{
        padding: 20px 40px;
}
    
    #carre{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
}
 
    .imghover{
        opacity: 1;
}
    
    
/* Bloc formulaire */
  
    #formulaire{
        margin-top: -4px;
        background-image: url(images/respBMW.jpg); 
        height: 510px;
        background-size: cover;
}
    
    #formulaire h2,h3{
        margin-left: 40px;
}
    
    .reserver{
        font-size: 4.8vw;
}

    .playfairblack{
        font-size: 4vw;
        margin-top: 10%;
}
    
    .formchimp{
        position: absolute;
        left:20%;
        top: 20%;
    }


    div.mc-field-group input{
        height: 25px;
        font-size: 15px;
}
    
    
    .mc-field-group{
        margin: 8px;
}
    
    
    .clear{
}

    input.button{
        padding: 10px;
        border: 1px solid black;
        font-size: 25px;
}
 
    span.cocher{
        font-size: 1vw;
    }
        
/* Footer */
    
    
    #footer{
        display: block;
        
}
    
    .titlewhite{
        font-size: 4vw;
        padding-bottom: 10px;
}

    .latowhite{
        font-size: 3vw;
        padding-left: 0px;
        line-height: 40px;
}
    
    
    .blocleft{
        display: flex;
        flex-direction: column;
}


    article.univers,.cgu{
        margin: 30px;
}


    div.social{
        margin: 30px;
        text-align: center;
}


    .social img{
        padding: 0px 3px;
}

