
@media screen and (max-width: 625px)
{
/* propriétés pour mobile */


#demander{
  width: 100%;
  height: 20%;
  left: 0;
}

.first-row-img{
  display: flex;
  flex-wrap: wrap;

}
.footer{
  display: block;
}

#visionnaire{
  display: block;
}

#technique{
  display: block;
}

#emotion{
  display: block;
}

}
@media screen and (max-width: 976px)
{
/* propriétés pour tablette */
